In [1]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, OrdinalEncoder
import pandas as pd
import numpy as np
df=pd.DataFrame({'country':['USA','UK','IND','BD','USA']})
df

  country
0     USA
1      UK
2     IND
3      BD
4     USA

In [2]:
le=LabelEncoder()
df['country_label_encoder']=le.fit_transform(df.country)
df

  country  country_label_encoder
0     USA                      3
1      UK                      2
2     IND                      1
3      BD                      0
4     USA                      3

In [3]:
oe=OrdinalEncoder()
df['country_ordinal_encoder']=oe.fit_transform(df[['country']])
df

  country  country_label_encoder  country_ordinal_encoder
0     USA                      3                      3.0
1      UK                      2                      2.0
2     IND                      1                      1.0
3      BD                      0                      0.0
4     USA                      3                      3.0

In [4]:
ohe=OneHotEncoder()
country_one_hot_encoder=ohe.fit_transform(df[['country']]).toarray()
country_one_hot_encoder

array([[0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.]])

In [5]:
ohe.get_feature_names_out()

array(['country_BD', 'country_IND', 'country_UK', 'country_USA'],
      dtype=object)

In [9]:
ohe_df=pd.DataFrame(country_one_hot_encoder,columns=ohe.get_feature_names_out())
ohe_df

   country_BD  country_IND  country_UK  country_USA
0         0.0          0.0         0.0          1.0
1         0.0          0.0         1.0          0.0
2         0.0          1.0         0.0          0.0
3         1.0          0.0         0.0          0.0
4         0.0          0.0         0.0          1.0

In [10]:
df=pd.concat([df,ohe_df],axis=1)
df

,country,country_label_encoder,country_ordinal_encoder,country_BD,country_IND,country_UK,country_USA
0,USA,3,3.0,0.0,0.0,0.0,1.0
1,UK,2,2.0,0.0,0.0,1.0,0.0
2,IND,1,1.0,0.0,1.0,0.0,0.0
3,BD,0,0.0,1.0,0.0,0.0,0.0
4,USA,3,3.0,0.0,0.0,0.0,1.0